
.login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-page .div {
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.login-page .group {
    height: 100vh;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}



  
.login-page .overlap-group {
    height: 100%;
    position: relative;
}

.login-page .frame {
    background-color: #c6c7f8;
    background-image: url(./frame-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 773px;
}

.login-page .electrician-amico {
    height: 491px;
    left: 163px;
    object-fit: cover;
    position: absolute;
    top: 266px;
    width: 433px;
}

.login-page .NYU-logo {
    height: 67px;
    left: 42px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 197px;
}

.login-page .group-2 {
    height: 657px;
    left: 955px;
    position: absolute;
    top: 212px;
    width: 684px;
}

.login-page .text-wrapper {
    color: #8591a5;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 66px;
    left: 2px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 54px;
    width: 647px;
}

.login-page .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 42px;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 335px;
}

.login-page .rectangle {
    border: 1px solid;
    border-color: #8591a5;
    border-radius: 6px;
    height: 75px;
    left: 2px;
    position: absolute;
    top: 206px;
    width: 670px;
}

.login-page .rectangle-2 {
    border: 1px solid;
    border-color: #8591a5;
    border-radius: 6px;
    height: 75px;
    left: 2px;
    position: absolute;
    top: 349px;
    width: 670px;
}

.login-page .overlap-group-wrapper {
    height: 75px;
    left: 2px;
    position: absolute;
    top: 508px;
    width: 672px;
}

.login-page .div-wrapper {
    background-color: #c6c7f8;
    border-radius: 6px;
    height: 75px;
    position: relative;
    width: 670px;
}

.login-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 208px;
}

.login-page .text-wrapper-4 {
    color: #696f79;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 167px;
    width: 168px;
}

.login-page .text-wrapper-5 {
    color: #696f79;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 310px;
    width: 118px;
}

.login-page .dont-have-an-account {
    color: transparent;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    left: 109px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 635px;
    width: 441px;
}

.login-page .span {
    color: #696f79;
}

.login-page .text-wrapper-6 {
    color: #2c73eb;
}

.login-page .text-wrapper-7 {
    color: #696f79;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 452px;
    width: 175px;
}

.login-page .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 138px;
    width: 672px;
}

.login-page .square-checkbox {
    height: 24px !important;
    left: 2px !important;
    position: absolute !important;
    top: 452px !important;
    width: 31px !important;
}
